@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: AnonymousPro;
  src: url("../assets/fonts/AnonymousPro-Regular.ttf");
}
@font-face {
  font-family: AnonymousPro-Bold;
  src: url("../assets/fonts/AnonymousPro-Bold.ttf");
}
@font-face {
  font-family: AnonymousPro-Italic;
  src: url("../assets/fonts/AnonymousPro-Italic.ttf");
}
*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  color: hsl(0deg, 0%, 0%);
}
h1:not(h1), h2:not(h1), h3:not(h1), h4:not(h1), h5:not(h1), h6:not(h1) {
  margin-bottom: 0.5em;
}

.hidden {
  display: none;
}

body {
  font-family: AnonymousPro;
  color: hsl(0deg, 0%, 0%);
}

main {
  max-width: 33rem;
  margin: auto;
  padding: 1rem;
}

.accounts-list li {
  margin-bottom: 1em;
}

.link {
  font-family: AnonymousPro;
  font-size: 1rem;
  text-decoration: none;
  padding: 0;
  position: relative;
}
.link::before {
  content: "";
  /* Hide the underline by default */
  visibility: hidden;
  background-color: #3c00ff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 2px;
  /* Initially scale the underline to 0 width */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link:hover::before, .link.active::before {
  visibility: visible; /* Show the underline on hover and active */
  transform: scaleX(1); /* Scale the underline to full width */
  font-family: AnonymousPro-Bold;
}

.btn {
  border: 1px solid black;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 0%);
  padding: 0.5rem 1rem;
  font-family: AnonymousPro-Bold;
  font-size: 0.9rem;
  text-decoration: none;
}
.btn:hover {
  color: hsl(0deg, 0%, 0%);
  background-color: hsl(0deg, 0%, 100%);
}
.btn:hover * {
  color: hsl(0deg, 0%, 0%);
}

.btn-wrapper {
  margin: 1rem 0;
}

input, input:active, input:focus,
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active, input[data-autocompleted], select, button {
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-family: AnonymousPro;
  color: hsl(0deg, 0%, 0%);
  font-size: 0.8rem;
}
input:not(select), input:active:not(select), input:focus:not(select),
input:-webkit-autofill:not(select),
input:-webkit-autofill:focus:not(select),
input:-webkit-autofill:active:not(select), input[data-autocompleted]:not(select), select:not(select), button:not(select) {
  -webkit-appearance: none;
  appearance: none;
}
input::placeholder, input:active::placeholder, input:focus::placeholder,
input:-webkit-autofill::placeholder,
input:-webkit-autofill:focus::placeholder,
input:-webkit-autofill:active::placeholder, input[data-autocompleted]::placeholder, select::placeholder, button::placeholder {
  font-family: AnonymousPro;
  color: hsl(0deg, 0%, 0%);
}
input:not(select), input:active:not(select), input:focus:not(select),
input:-webkit-autofill:not(select),
input:-webkit-autofill:focus:not(select),
input:-webkit-autofill:active:not(select), input[data-autocompleted]:not(select), select:not(select), button:not(select) {
  padding: 0.5rem 1.5rem;
}

.header {
  /* fallback for old browsers */
  background: hsl(0deg, 0%, 100%);
  background: linear-gradient(270deg, rgb(0, 0, 0) 1% 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(270deg, rgb(0, 0, 0) 1% 0%, rgba(255, 255, 255, 0) 100%);
  background-color: #040c3a;
  padding: 0.5rem 0;
}
.header * {
  color: hsl(0deg, 0%, 100%);
}
.header .nav {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
}
.header .nav .header__left {
  margin-bottom: 0.5em;
}
.header .nav .header__right {
  display: flex;
  flex-direction: default;
  justify-content: space-around;
  align-items: center;
  flex-wrap: no-wrap;
  gap: min(10%, 10px);
  width: 100%;
}
.header .nav .header__right .link {
  font-size: 0.85rem;
}
.header .nav .link.active {
  font-family: AnonymousPro-Bold;
  border-width: 2px;
}
@media (width >= 576px) {
  .header {
    padding: 1.5rem 1rem;
  }
  .header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: no-wrap;
  }
  .header .nav .header__right {
    justify-content: space-between;
    width: 70%;
  }
  .header .nav .header__right .link {
    font-size: 1rem;
  }
}

.form {
  width: min(100%, 350px);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  width: 100%;
}

.form-label {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid hsl(0deg, 0%, 0%);
  font-family: AnonymousPro-Bold;
  font-size: 0.9rem;
}

input, input:active, input:focus,
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active, input[data-autocompleted] {
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(0deg, 0%, 0%);
  outline: none;
  font-size: 0.8rem;
  font-family: AnonymousPro;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.form-control {
  display: block;
  width: 100%;
  line-height: 1.5;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.7em;
  color: #838586;
}

.alert-danger {
  display: flex;
  flex-direction: default;
  justify-content: default;
  align-items: center;
  flex-wrap: no-wrap;
  background-color: hsl(355deg, 70%, 91%);
  border: 1px solid hsl(354deg, 100%, 51%);
  color: hsl(354deg, 100%, 51%);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.alert-danger div:last-child {
  padding: 0 12px;
}

:modal {
  background-color: #040c3a;
  max-width: 50ch;
  padding: 3rem 2rem;
  border: 0;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: no-wrap;
  gap: 1rem;
}
:modal * {
  color: hsl(0deg, 0%, 100%);
}
:modal::-webkit-backdrop {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
:modal::backdrop {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
:modal p {
  margin: 0;
}
:modal .close-modal {
  width: 100%;
  display: flex;
  flex-direction: default;
  justify-content: end;
  align-items: flex-start;
  flex-wrap: no-wrap;
}/*# sourceMappingURL=style.css.map */