
@font-face {
    font-family: AnonymousPro;
    src: url("../assets/fonts/AnonymousPro-Regular.ttf");
}
@font-face {
    font-family: AnonymousPro-Bold;
    src: url("../assets/fonts/AnonymousPro-Bold.ttf");
}
@font-face {
    font-family: AnonymousPro-Italic;
    src: url("../assets/fonts/AnonymousPro-Italic.ttf");
}


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/global";
@import "./partials/header";
@import "./partials/form";
@import "./partials/alert";
@import "./partials/modal";
@import "./partials/accounts";
