.alert-danger {
    @include flex(default, default, center);
    background-color: $danger-50;
    border: 1px solid $danger-500;
    color: $danger-500;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: $body-s;
    div:last-child {
        padding: 0 12px ;
    }
}


