.alert-danger {
    @include flex();
    background-color: $danger-50;
    border: 1px solid $danger-500;
    color: $danger-500;
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 0.9rem;
    div:last-child {
        padding: 0 12px ;
    }
}


