.form {
    width: min(100%, 350px);
}

.form-wrapper {
    @include flex(column, center, center);
    width: 100%;
}

.form-heading {
    margin-bottom: 2rem;
}

.form-label {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid hsl(0deg, 0%, 0%);
    font-family: $body-b;
    font-size: $body-m;
}

input, input:active, input:focus, 
input:-webkit-autofill, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active, input[data-autocompleted] {
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $text;
    outline: none;

    font-size: $body-s;
    font-family: $body;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;

    -webkit-appearance: none;
    appearance: none;
}

.form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
}

.form-text {
    margin-top: 0.25rem;
    font-size: $body-xs;
    color: #838586;
}