// * {
//     outline: 1px solid $accent;
// }

*, *:after, *:before {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

p {
    font-size: $body-m;
}

a {
    text-decoration: none;
    color: $text;
}

html, body {
    scroll-behavior: smooth;
}

// text
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-primary;
    margin: 0;
    padding: 0;
    color: $text;
    &:not(h1) {
        margin-bottom: 0.5em;
    }
}

.hidden {
    display: none;
}

.center {
    @include flex(default, center, center)
}
body {
    font-family: $body;
    color:  $text;
}

main {
    max-width: 33rem;
    margin: auto;
    padding: 1rem;
}

.app {
    @include flex(column);
    margin-top: 4rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.helper-wrapper {
    margin-top: 2rem;
}

.link {
    text-decoration: none;
    // padding: 0;
    position: relative;
    &:not(h1) {
        font-size: $body-s;
        font-family: $body; 
    }
    &:not(h1)::before {
        content: "";
        /* Hide the underline by default */
        visibility: hidden; 
        background-color: $accent; 
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        height: 2px;
        /* Initially scale the underline to 0 width */
        transform: scaleX(0); 
        transition: transform 0.3s ease-in-out;
    }
    &:hover::before, &.active::before {
        /* 
            Show the underline on hover and active 
            Scale the underline to full width
        */
        visibility: visible; 
        transform: scaleX(1);
        font-family: $body-b;
    }
}

.highlight {
    color: $accent;
}

.btn {
    border: 1px solid black;
    color: $p-white;
    background-color: $p-black;
    padding: 0.5rem 1rem;
    font-family: $body-b;
    font-size: $body-s;
    text-decoration: none;
    &:hover {
        color: $p-black;
        background-color: $p-white;
        * {
            color: $p-black;
        }
    }
}

.btn-wrapper {
    margin: 1rem 0;
}

input, input:active, input:focus, 
input:-webkit-autofill, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active, input[data-autocompleted], select, button{
    // Reset
    border: none;
    border-radius: 0;
    background-color: transparent;
    &:not(select) {
        -webkit-appearance: none;
        appearance: none;
    }

    font-family: $body;
    color: $text;
    font-size: $body-s;

    &::placeholder {
        font-family: $body;
        color: $text;
    }
    &:not(select) {
        padding: 0.5rem 1.5rem;
    }
}

